.create-budget-box {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 40px auto;
  }

  .create-budget-box h2 {
    margin-top: 0;
  }

  .create-budget-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-budget-box label {
    margin-bottom: 10px;
  }

  .create-budget-box input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 100%;
  }

  .create-budget-box button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .create-budget-box button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  .budgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .budget {
    flex-basis: 20%; /* adjust the width of each budget box */
    margin: 20px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
