.homepage-container {
  padding: 20px;
}

header{
background-color:#ddd;
}


.content-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}


.box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: calc(50% - 10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.homepage-container > button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}


